<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners> 
		<listener class-name="reporting.SetUp"></listener>
</listeners>
 	
  <test thread-count="5" name="Test">
    <classes>     
      <!-- <class name="poijiExcel.PoijiExcelTest"/>  -->        
       <!--  <class name="testCase.ReqRes_Test"/>  -->  
      <!--  <class name="testCase.PojoTest"/> -->   
      <!--  <class name="scenariosExcel.TestScenarios"/> -->
               <class name="interview.Utils"/>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
